page-login {
    .con-img{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        // align-items: center;
        // margin-top: 1%;
        // margin-bottom: 1%;
    }
    img {
        width: 100%;
        height: 100%;
    }
    .pw-con{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .con-button{
        padding-top: 1%;
        height: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .login-button{
        display: flex;
        width:14%;
        font-weight:bold;
        color:white;
    }
}
