page-handoverrd {
    .con-left{
        display:flex;
        justify-content:flex-start;
    }
    .con-center{
        display:flex;
        align-items:center;
    }
    .con-right{
        width:60%;
        display:flex;
        justify-content:flex-end;
    }
    .bold-white{
        font-weight: bold;
        color: white;
    }
    .color{
        background-color: rgb(177, 177, 177);
        color: white;
    }
    .row-center{
        display:flex;
        justify-content:center;
    }
    .con-on-off{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .page-slide{
        height:7%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .slide-con{
        width: 100px;
        height: 50px;
    }
    .pad-lr-20{
        padding-top: 3px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .con-pic{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
