<!--
  Generated template for the FeedbackPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <div class="header-title">
        <ion-title>フィードバック</ion-title>
      </div>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>日付</ion-label>
    <ion-datetime displayFormat="YYYY/MM/DD" doneText="OK" cancelText="Cancel" [(ngModel)]="selectedDate" (ionChange)="showWorkerInfo()"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>従業員</ion-label>
    <ion-select multiple="false" cancelText="Cancel" okText="OK" [(ngModel)]="selectedWorker" (ionChange)="showWorkerInfo()">
      <ion-option *ngFor="let worker of workerList" [value]="worker">{{worker.workerNm}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>フィードバック</ion-label>
    <ion-textarea  inputmode="kana" [(ngModel)]="feedback"></ion-textarea>
  </ion-item>
  <button ion-button round item-start color="warn" style="height:40px;width:200px;display:block;margin:10px 0px 10px auto"  (click)="updateFeedbackClick()">
      <ion-label>フィードバックを更新</ion-label>
  </button>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-checkbox slot="end" checked (ionChange)="statusChecked('S')"></ion-checkbox>
          <ion-label>未着手: {{sCount}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox slot="end" checked (ionChange)="statusChecked('I')"></ion-checkbox>
          <ion-label>進行中: {{iCount}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox slot="end" checked (ionChange)="statusChecked('E')"></ion-checkbox>
          <ion-label>完了: {{eCount}}</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-checkbox slot="end" checked (ionChange)="statusChecked('A')"></ion-checkbox>
          <ion-label>中止: {{aCount}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="table-area">
    <div class="table">
      <div class="table-header">
      <ion-grid>
        <ion-row class="row-header">
          <ion-col>
            カテゴリ名
          </ion-col>
          <ion-col>
            業務名
          </ion-col>
          <ion-col>
            予定日時
          </ion-col>
          <ion-col>
            実績日時
          </ion-col>
          <ion-col>
            ステータス
          </ion-col>
          <ion-col>
            コメント
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
      <div class="table-row">
      <ion-grid>
        <section *ngFor="let task of taskList">
          <ion-row *ngIf="task.status == dispStatusList[0] || task.status == dispStatusList[1] || task.status == dispStatusList[2] || task.status == dispStatusList[3]" class="row">
            <ion-col>
              {{task.cgNm}}
            </ion-col>
            <ion-col>
              {{task.opNm}}
            </ion-col>
            <ion-col>
              {{task.planTime}}
            </ion-col>
            <ion-col>
              {{task.actualTime}}
            </ion-col>
            <ion-col>
              {{task.status}}
            </ion-col>
            <ion-col>
              <div class="handover-icon-area" *ngIf="task.handoverList && task.handoverList.length > 0"  (click)="selectTask(task)">
                <ion-icon name="albums" color="dark"></ion-icon>
              </div>
            </ion-col>
          </ion-row>
        </section>
      </ion-grid>
      </div>
    </div>
    <div class="table">
      <div class="table-header">
        <ion-grid>
        <ion-row class="row-header">
          <ion-col>
            コメント日時/記入者
          </ion-col>
          <ion-col>
            内容
          </ion-col>
          <ion-col>
            画像
          </ion-col>
        </ion-row>
        </ion-grid>
      </div>
      <div class="table-row">
        <ion-grid>
        <ion-row *ngFor="let handover of handoverList" class="row">
          <ion-col>
            {{handover.handoverDate}}<br />
            {{handover.workerNm}}
          </ion-col>
          <ion-col>
            {{handover.handoverContents}}
          </ion-col>
          <ion-col>
            <img [src]="handover.dispImgPath" onerror="this.src='assets/imgs/noImage/NoImage.png'">
          </ion-col>
        </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
