// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//icon
@import "../assets/fonts/icomoon.scss";

* html .clearfix{zoom: 1;} 
     
*:first-child + html .clearfix{zoom: 1;}

.clearfix:after{
    visibility: hidden;  
    display: block;  
    font-size: 0;  
    content: ".";  
    clear: both;  
    height: 0;  
}

.alert-md .alert-wrapper{
    max-width: 370px !important;
}

.contain{
    position: relative;
    contain: content;
}

.hei-center{
    display:flex;
    align-items:center;
}

.wid-hei-center{
    display:flex;
    justify-content:center;
    align-items:center;
}

.wid-right{
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.wid-left{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.padding-left-right-13{
    padding: 0 13px;
}

.border-0{
    border: 0;
}
.border{
    border:1px solid #ccc
}
.border-top{
    border-top:1px solid #ccc
}
.border-bottom{
    border-bottom:1px solid #ccc
}
.border-left{
    border-left:1px solid #ccc
}
.border-right{
    border-right:1px solid #ccc
}

.float-left{
    float: left;
}
.float-right{
    float: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.font-12{
    font-size: 12px;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-20{
    font-size: 20px;
}
.font-22{
    font-size: 22px;
}
.font-30{
    font-size: 30px;
}
.font-33{
    font-size: 33px;
}
.font-40{
    font-size: 40px;
}

.width-5{
    width: 5%;
}
.width-10{
    width: 10%;
}
.width-20{
    width: 20%;
}
.width-30{
    width: 30%;
}
.width-35{
    width: 35%;
}
.width-40{
    width: 40%;
}
.width-50{
    width: 50%;
}
.width-60{
    width: 60%;
}
.width-65{
    width: 65%;
}
.width-70{
    width: 70%;
}
.width-80{
    width: 80%;
}
.width-90{
    width: 90%;
}
.width-95{
    width: 95%;
}
.height-100{
    height: 100%;
}

.pad-5{
    padding: 5px;
}
.pad-10{
    padding: 10px;
}
.pad-l-r-5{
    padding: 0 5px;
}
.pad-l-r-10{
    padding: 0 10px;
}

//dragのCSS部分
.gu-mirror {
height:55px;
background-color: color($colors, taskButton);
border: 1px solid color($colors, borderc);
display: flex;
flex-flow: column;
align-items: flex-start;
margin: 2px;
position:relative;
z-index:9999;
}
.gu-hide {
    display: none !important;
}
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.gu-transit {
    opacity: 0.2 !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}
.gu-mirror .taskButtonTop{
    width: 100%;
    height: 5%;
    .taskButtonTopC{
        width: 100%;
        height: 100%;
        // background-color: color($colors, danger);
    }
    .lb-taskButtonTopC{
        width: 100%;
        height: 100%;
        // background-color: color($colors, danger);
    }
}
.gu-mirror .taskButtonBottom{
    width: 100%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gu-mirror .taskButtonBottom .taskB-left{
    margin-left: 10px;
    width: 100%;
    min-width: 0;
    .taskB-title{
        width: 98%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align: left;
    }
    .taskB-content{
        width: 98%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align: left;
    }
    .lb-taskB-content{
        width: 98%;
        display: flex;
        justify-content: flex-start;
        .taskB-content-workerNm{
            width:97%;
            min-width:10%;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            text-align: left;
        }
        .taskB-content-time{
            width: 97%;
            min-width:10%;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
            text-align: right;
        }
    }
}

.gu-mirror .font-16{
   font-size: 16px;
}


body.keyboard-is-open ion-content {
    overflow: scroll;
}

.gu-mirror .taskB-right{
    display: flex;
    line-height: 100%;
    margin-right: 10px;
    justify-content: flex-end;
}

.gu-mirror .taskB-right .font-40{
   font-size: 40px;
}

