page-taskrd {
    .con-left{
        display:flex;
        justify-content:flex-start;
        min-height: 50px;
    }
    .con-center{
        display:flex;
        align-items:center;
    }
    .con-right{
        width:60%;
        display:flex;
        justify-content:flex-end;
    }
    .con-checkList{
        display: flex;
        justify-content: flex-end;
    }
    .bold-white{
        font-weight: bold;
        color: white;
    }
    .color{
        background-color: rgb(177, 177, 177);
        color: white;
    }
    .con-on-off{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .onOff-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
